<!DOCTYPE html>
<html>
<head>
    <title>Input Penjualan</title>
</head>
<body>

<h2>Input Penjualan</h2>

<form method="post">
    <label>Item:</label><br>
    <select name="item" required>
        {% for i in items %}
            <option value="{{ i[0] }}">{{ i[0] }}</option>
        {% endfor %}
    </select>
    <br><br>

    <label>Qty (cup):</label><br>
    <input type="number" name="qty" min="1" required>
    <br><br>

    <button type="submit">Simpan</button>
</form>

<br>
<a href="/dashboard">⬅ Kembali ke Dashboard</a>

</body>
</html>
